<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rag -->
      <package
            uri="ecore://nasdanika.org/rag"
            class="org.nasdanika.rag.model.RagPackage"
            genModel="model/rag.genmodel"/>
   </extension>

</plugin>
